{% extends 'onboardinglayout.html' %} {% block content %}
<div class="form_page">
  <div class="form_page-wrapper">
    <div class="form_page-form">
      <form method="POST">
        <h3>Sign Up</h3>
        <div class="form-element">
          <label for="email">Email Address</label>
          <input
            type="email"
            id="signup-email"
            name="email"
            class="form-input"
            autocomplete="off"
            placeholder="Enter Email" />
          <span class="email-error"></span>
        </div>
        <div class="form-element">
          <label for="username">Username</label>
          <input
            type="text"
            id="signup-username"
            name="username"
            class="form-input"
            autocomplete="off"
            placeholder="Enter Email" />
          <span class="username-error"></span>
        </div>
        <div class="form-element">
          <label for="password">Password</label>
          <input
            type="password"
            id="signup-password"
            name="password"
            autocomplete="off"
            class="form-input"
            placeholder="Enter Password" />
          <span class="password-error"></span>
        </div>
        <div class="form-element">
          <label for="password">Repeat password</label>
          <input
            type="password"
            id="signup-repeat-password"
            name="password"
            autocomplete="off"
            class="form-input"
            placeholder="Enter Password" />
          <span class="rpassword-error"></span>
        </div>
        <div class="form-element">
          <button id="signup-btn" class="form-input" type="submit">
            Sign up
          </button>
        </div>
      </form>
    </div>
    <div class="form_page-image"></div>
  </div>
</div>
<script src="{{url_for('static', filename='signup.js')}}"></script>
{% endblock %}
